[submodule "themes/home-assistant-community-themes"]
	path = themes/home-assistant-community-themes
	url = https://github.com/maartenpaauw/home-assistant-community-themes.git
[submodule "custom_components/alexa_media_player"]
	path = custom_components/alexa_media_player
	url = https://github.com/keatontaylor/alexa_media_player.git
